In [1]:
import os
import numpy as np
import xarray as xr
import pandas as pd
import netCDF4 as nc
import geopandas as gpd
import rioxarray as rxr
from myfunc import timer
from myfunc import DirMan
from myfunc import load_and_flatten_data
import config

pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)

# configuration
# resolution = "0p1"
resolution = "500"
region = [-180,180,-60,90]
data_path = f'/tera04/zhwei/xionghui/bedrock/run/{resolution}/'
post_data_path = '/tera04/zhwei/xionghui/bedrock/'
shp_path = '/tera04/zhwei/xionghui/bedrock/Shp/'
fig_path = f'/home/xuxh22/stu01/Bedrock/fig/{resolution}/'
path = '/home/xuxh22/stu01/Bedrock/'
if resolution == "0p1":
    size = 0.1
elif resolution == "500":
    size = 0.0005

dir_man = DirMan(data_path)
dir_man.enter()

os.makedirs(f'{data_path}/csv', exist_ok=True)

Entered /tera04/zhwei/xionghui/bedrock/run/500/

In [2]:
df = pd.read_csv(f'{post_data_path}/field/field_all.csv', encoding='latin-1')
print(post_data_path)


# dir_man = DirMan(data_path)
# dir_man.enter()

s1 = nc.Dataset('Sbedrock_tmp2.nc4', 'r')
s2 = nc.Dataset('Ssoil.nc4', 'r')
s3 = nc.Dataset('DTB.nc4', 'r')
s4 = nc.Dataset('mask1.nc4', 'r')
s5 = nc.Dataset('mask2.nc4', 'r')
s6 = nc.Dataset('mask3.nc4', 'r')
s7 = nc.Dataset('mask4.nc4', 'r')
s8 = nc.Dataset('mask1234.nc4', 'r')

lat = df['Latitude']
lon = df['Longitude']
ssa = df['Same Site As']
# print(lat,lon)

lat1 = s1.variables['lat'][:]
lon1 = s1.variables['lon'][:]
# print(lat1,lon1)

df2 = pd.DataFrame()
j = 0
for i in range(len(lat)):
    # if not isinstance(ssa[i], str):
        # if 
        # print('-----------------------------------------------')
        
    lat1_index = np.argmin(np.abs(lat1 - lat[i]))
    lon1_index = np.argmin(np.abs(lon1 - lon[i]))
    lat1_target = lat1[lat1_index]
    lon1_target = lon1[lon1_index]
    # print(lat[i])
    # print(lon[i])
    # print('find ')
    # print(lat1_target)
    # print(lon1_target)
    # print('-----------------------------------------------')
    
    df2.loc[j, 'Measure'] = df.loc[i, 'Measurement or Estimate of RM Contribution to ET?']
    df2.loc[j, 'Citation'] = df.loc[i, 'Citation']
    df2.loc[j, 'lat'] = round(lat[i], 6)
    df2.loc[j, 'lon'] = round(lon[i], 6)
    df2.loc[j, 'lat'] = lat[i]
    df2.loc[j, 'lon'] = lon[i]
    df2.loc[j, 'Sbedrock_field_min'] = df.loc[i, 'Minimum']
    df2.loc[j, 'Sbedrock_field_max'] = df.loc[i, 'Maximum']
    df2.loc[j, 'Sbedrock'] = s1['Sbedrock'][lat1_index,lon1_index]
    df2.loc[j, 'Ssoil'] = s2['Band1'][lat1_index,lon1_index]
    df2.loc[j, 'Soil_depth'] = df.loc[i, 'SoilDepth_Numberline_cm']
    df2.loc[j, 'DTB'] = s3['Band1'][lat1_index,lon1_index]
    df2.loc[j, 'mask1'] = s4['Band1'][lat1_index,lon1_index]
    df2.loc[j, 'mask2'] = s5['LC'][0,lat1_index,lon1_index]
    df2.loc[j, 'mask3'] = s6['et'][0,lat1_index,lon1_index]
    df2.loc[j, 'mask4'] = s7['Band1'][lat1_index,lon1_index]
    df2.loc[j, 'mask'] = s8['Band1'][lat1_index,lon1_index]
    
    j += 1

unique_pairs = df2[['lat', 'lon']].drop_duplicates().shape[0]
print(f"Unique (lat, lon) pairs in df2: {unique_pairs}")

df3 = df2.groupby(['lat', 'lon']).first().reset_index()
# df3.fillna(0, inplace=True)
df3['num'] = range(len(df3['lat']))
with open('csv/site.csv','w') as f:
    df3.to_csv(f)
    
print((df3['Measure']=='N').sum())
print((df3['Measure']=='Y').sum())
df3
# df

/tera04/zhwei/xionghui/bedrock/

/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted

Unique (lat, lon) pairs in df2: 80
40
40

/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted
/home/xuxh22/anaconda3/envs/jupyter/lib/python3.10/site-packages/pandas/core/internals/blocks.py:1429: UserWarning: Warning: converting a masked element to nan.
  values[indexer] = casted

,lat,lon,Measure,Citation,Sbedrock_field_min,Sbedrock_field_max,Sbedrock,Ssoil,Soil_depth,DTB,mask1,mask2,mask3,mask4,mask,num
0,-34.300000,19.150000,N,"Lamont, 1984",NaN,NaN,147.998795,207.693985,60.0,599.061157,NaN,1.0,NaN,NaN,NaN,0
1,-32.338300,116.090400,N,"Dell, 1983",NaN,NaN,300.742432,75.005013,NaN,100.000000,1.0,1.0,NaN,1.0,NaN,1
2,-30.412800,18.249700,N,"Carrick, 2003",NaN,NaN,67.932983,69.475952,0.3,100.000000,1.0,1.0,NaN,NaN,NaN,2
3,11.730000,76.450000,Y,"Ruiz, 2010",NaN,NaN,199.571167,98.559509,NaN,100.000000,1.0,1.0,1.0,1.0,1.0,3
4,20.815556,-89.245000,Y,Querejeta 2007,NaN,NaN,160.841095,233.316879,30.0,5000.000000,NaN,0.0,NaN,NaN,NaN,4
5,20.833333,-89.652778,Y,Querejeta 2007,NaN,NaN,122.585724,231.535812,30.0,5000.000000,NaN,1.0,NaN,NaN,NaN,5
6,20.879167,-89.653333,Y,Querejeta 2007,NaN,NaN,89.471489,228.718231,30.0,5000.000000,NaN,1.0,NaN,NaN,NaN,6
7,20.905000,-89.630000,N,"Estrada-Medina, 2013",NaN,NaN,78.262108,211.198639,15.0,5000.000000,NaN,0.0,NaN,NaN,NaN,7
8,22.000000,-101.000000,N,"Rodriguez-Robles, 2017",NaN,NaN,154.464813,90.615860,NaN,100.000000,1.0,1.0,1.0,NaN,NaN,8
9,24.716700,108.300000,N,"Nie, 2014",NaN,NaN,54.620438,98.653503,30.0,100.000000,1.0,1.0,1.0,NaN,NaN,9
10,29.697778,-98.347222,N,"Jackson, 1999",NaN,NaN,373.053009,129.634277,15.0,100.187767,1.0,1.0,NaN,1.0,NaN,10
11,29.836667,-98.520833,N,"Jackson, 1999",NaN,NaN,295.572845,80.293686,15.0,100.000000,1.0,0.0,1.0,NaN,NaN,11
12,29.850000,-98.490000,Y,"McCole and Stern, 2007",999.0,999.0,300.451416,81.538582,32.0,100.000000,1.0,1.0,1.0,NaN,NaN,12
13,29.901000,-98.002300,Y,"Litvak, 2020",NaN,NaN,158.589493,77.381836,20.0,100.000000,1.0,0.0,1.0,1.0,NaN,13
14,29.930000,-97.800000,Y,"Heilman et al., 2014",NaN,NaN,109.064232,160.405548,20.0,4101.501953,NaN,0.0,1.0,NaN,NaN,14
15,29.940000,-98.120000,Y,"Schwinning, 2008",999.0,999.0,163.515213,80.354553,NaN,100.000000,1.0,1.0,1.0,1.0,1.0,15
16,29.949500,-97.996200,Y,Tokumoto 2014,NaN,NaN,150.864700,77.422691,NaN,100.000000,1.0,1.0,1.0,1.0,1.0,16
17,30.000000,-98.570794,Y,"Dammeyer, 2016",NaN,NaN,258.921997,81.500877,NaN,100.000000,1.0,0.0,1.0,NaN,NaN,17
18,30.223000,-97.872000,N,"Jackson, 1999",NaN,NaN,115.550987,77.669083,15.0,100.000000,1.0,0.0,1.0,NaN,NaN,18
19,30.261111,-97.796111,N,"Jackson, 1999",NaN,NaN,55.639336,79.926331,15.0,100.000000,1.0,0.0,1.0,NaN,NaN,19
20,30.371111,-97.771944,N,"Jackson, 1999",NaN,NaN,87.199631,83.144760,15.0,100.000000,1.0,0.0,1.0,NaN,NaN,20
21,30.673300,-99.362200,N,"Jackson, 1999",NaN,NaN,183.949005,80.947929,15.0,100.000000,1.0,1.0,NaN,1.0,NaN,21
22,30.935833,-99.925833,N,"Jackson, 1999",NaN,NaN,25.959167,81.121552,15.0,100.000000,1.0,0.0,NaN,NaN,NaN,22
23,31.020000,-100.020000,Y,"Twidwell et al., 2013",NaN,NaN,37.599319,194.763336,NaN,200.000000,NaN,0.0,NaN,NaN,NaN,23
24,31.038611,-98.510556,N,"Jackson, 1999",NaN,NaN,206.577362,75.805664,15.0,100.000000,1.0,1.0,NaN,NaN,NaN,24
25,31.043333,-98.488889,N,"Jackson, 1999",NaN,NaN,225.912949,75.234795,15.0,100.000000,1.0,1.0,NaN,NaN,NaN,25
26,31.043611,-98.490278,N,"Jackson, 1999",NaN,NaN,225.912949,75.234795,15.0,100.000000,1.0,1.0,NaN,NaN,NaN,26
27,31.047778,-98.508611,N,"Jackson, 1999",NaN,NaN,196.301559,75.369446,15.0,100.000000,1.0,1.0,1.0,NaN,NaN,27
28,31.048056,-98.489722,N,"Jackson, 1999",NaN,NaN,222.027069,75.809349,15.0,100.000000,1.0,1.0,NaN,NaN,NaN,28
29,31.051667,-98.493611,N,"Jackson, 1999",NaN,NaN,213.558716,75.704597,15.0,100.000000,1.0,1.0,NaN,NaN,NaN,29
30,31.056389,-98.506944,N,"Jackson, 1999",NaN,NaN,195.850632,74.880745,15.0,100.000000,1.0,1.0,1.0,NaN,NaN,30
31,31.916667,-99.900000,N,Bleby 2010,NaN,NaN,-35.803368,176.789276,20.0,5000.000000,NaN,0.0,1.0,NaN,NaN,31
32,31.916700,-99.900000,N,Bleby 2010,NaN,NaN,-35.955688,176.306198,10.0,5000.000000,NaN,0.0,1.0,NaN,NaN,32
33,32.220400,-111.006000,N,"Cannon, 1911",NaN,NaN,-103.232323,185.582947,NaN,400.000000,NaN,1.0,1.0,NaN,NaN,33
34,33.451700,-117.173500,Y,"Bornyasz, 2005",120.0,120.0,218.850937,83.487503,62.0,100.000000,1.0,1.0,NaN,1.0,NaN,34
35,33.634671,-84.170067,N,White et al.,NaN,NaN,15.327362,81.559181,NaN,100.000000,1.0,1.0,1.0,NaN,NaN,35
36,33.699000,-111.231000,Y,"Davis, 1977",NaN,NaN,65.741676,79.936775,NaN,100.000000,1.0,0.0,NaN,1.0,NaN,36
37,33.807800,-116.771700,Y,"Fellows and Goulden, 2012",NaN,NaN,225.513779,0.266416,NaN,0.187765,1.0,1.0,NaN,1.0,NaN,37
38,33.810000,-116.680000,Y,"Sternberg, 1996",394.0,406.0,165.469406,0.000000,35.0,0.000000,1.0,0.0,1.0,1.0,NaN,38
39,34.237000,-116.972000,Y,"Arkley,1981",NaN,NaN,371.401245,79.631470,NaN,100.000000,1.0,0.0,NaN,1.0,NaN,39
40,34.266000,-117.186000,Y,"Arkley,1981",NaN,NaN,297.080566,0.000000,NaN,NaN,NaN,0.0,NaN,1.0,NaN,40
41,34.287000,-117.677000,Y,"Hellmers, 1995",NaN,NaN,236.428925,88.632446,81.0,100.000000,1.0,0.0,NaN,1.0,NaN,41
42,34.900000,-95.900000,N,"Phillips, 2008",NaN,NaN,142.039154,200.218628,NaN,2894.742676,NaN,1.0,1.0,NaN,NaN,42
43,35.928000,-118.597000,Y,"Anderson et al., 1995",NaN,NaN,403.727753,73.417976,NaN,100.000000,1.0,1.0,NaN,1.0,NaN,43
44,35.957000,-118.630000,Y,Hubbert 2001b,135.0,380.0,422.780151,78.580620,75.0,100.000000,1.0,1.0,NaN,1.0,NaN,44
45,36.000000,-84.000000,N,"McKay, 2005",NaN,NaN,57.904186,94.741417,NaN,100.000000,1.0,1.0,1.0,NaN,NaN,45
46,36.010400,-84.269600,N,"Driese, McKay, and Penfield, 2001",NaN,NaN,76.562195,220.274750,NaN,200.000000,NaN,0.0,1.0,NaN,NaN,46
47,37.087900,-119.250500,Y,"O'Geen, 2018",44.0,270.0,370.572174,76.520065,NaN,100.000000,1.0,1.0,1.0,1.0,1.0,47
48,37.217000,120.600000,Y,"Wang, 2023",32.0,32.0,9.858065,86.178276,80.0,100.000000,1.0,0.0,1.0,NaN,NaN,48
49,38.110000,-109.920000,Y,"West, 2007",NaN,NaN,-12.899652,0.000000,45.0,0.000000,1.0,1.0,1.0,NaN,NaN,49
50,38.533000,-8.017000,Y,"David, 2004",NaN,NaN,186.639542,82.933533,30.0,100.000000,1.0,0.0,1.0,1.0,NaN,50
51,38.860000,-104.310000,N,"Berndt and Gibbons, 1958",NaN,NaN,-144.308228,197.017334,20.0,1700.000000,NaN,0.0,1.0,NaN,NaN,51
52,38.970437,-107.056213,N,Mungia et al,NaN,NaN,112.521484,105.881348,NaN,100.000000,1.0,0.0,1.0,1.0,NaN,52
53,39.152400,-122.348700,Y,"Pedrazas, 2021",NaN,NaN,232.445358,80.729317,NaN,100.000000,1.0,0.0,1.0,1.0,NaN,53
54,39.153000,-122.348000,Y,"Hahm, 2022",80.0,300.0,232.445358,80.729317,50.0,100.000000,1.0,0.0,1.0,1.0,NaN,54
55,39.200000,-84.500000,N,"Reisteinberg, 1994",NaN,NaN,-149.278488,220.561371,43.0,400.375519,NaN,1.0,1.0,NaN,NaN,55
56,39.574500,-123.477000,Y,"Hahm, 2020",37.0,173.0,326.479095,94.761490,NaN,100.000000,1.0,0.0,1.0,1.0,NaN,56
57,39.680000,9.270000,Y,"Montaldo et al., 2021",NaN,NaN,273.182220,92.175415,17.0,100.000000,1.0,0.0,NaN,1.0,NaN,57
58,39.686825,9.275094,Y,"Corona and Montaldo, 2020",NaN,NaN,273.250214,93.779831,NaN,100.000000,1.0,1.0,NaN,1.0,NaN,58
59,39.727300,-123.643300,Y,"Rempe and Dietrich, 2018",140.0,420.0,315.155975,105.187485,45.0,100.000000,1.0,1.0,1.0,1.0,1.0,59
60,40.011233,-105.489234,N,"Hoffman and Anderson, 2014",NaN,NaN,20.734653,76.843483,NaN,100.000000,1.0,0.0,1.0,NaN,NaN,60
61,40.028000,-105.488000,Y,"Burns, 2022",19.0,64.0,19.186750,0.000000,30.0,0.000000,1.0,1.0,1.0,NaN,NaN,61
62,40.650000,-77.900000,N,"Gaines, 2015",NaN,NaN,3.138186,93.547256,NaN,100.000000,1.0,1.0,1.0,NaN,NaN,62
63,40.667000,-77.903000,N,"Hasenmueller, 2017",NaN,NaN,8.296910,0.000000,NaN,NaN,NaN,1.0,1.0,NaN,NaN,63
64,42.500000,-123.200000,Y,"Zwieniecki and Newton, 1996",NaN,NaN,361.342560,0.000000,55.0,0.000000,1.0,1.0,1.0,1.0,1.0,64
65,42.582790,-88.467000,N,"Scully, 1942",NaN,NaN,-18.245752,225.303101,NaN,700.187744,NaN,0.0,1.0,NaN,NaN,65
66,43.064300,-116.753584,Y,"Seyfried and Wilcox, 2006",NaN,NaN,110.341431,106.599434,NaN,100.000000,1.0,0.0,1.0,1.0,NaN,66
67,43.084000,-116.743000,Y,"Niemeyer, 2017",NaN,NaN,99.431160,0.000000,NaN,0.000000,1.0,0.0,1.0,1.0,NaN,67
68,43.500000,-124.000000,N,"Roering, 2010",NaN,NaN,270.639191,125.838951,40.0,100.000000,1.0,1.0,1.0,1.0,1.0,68
69,43.500000,-122.700000,Y,"Dietrich and Dunne, 1978",NaN,NaN,248.784409,113.434418,300.0,100.000000,1.0,1.0,1.0,1.0,1.0,69
70,43.683300,3.816670,Y,"Rambal, 1984",NaN,NaN,54.277473,93.929596,400.0,100.000000,1.0,1.0,1.0,NaN,NaN,70
71,43.936708,5.466161,Y,"Carriere, 2020",NaN,NaN,127.081497,94.460228,35.0,100.000000,1.0,1.0,1.0,1.0,1.0,71
72,44.178869,5.243569,Y,"Carriere, 2020",NaN,NaN,110.035042,115.615685,35.0,100.000000,1.0,1.0,1.0,1.0,1.0,72
73,44.223984,-122.177893,Y,Harmon 2020,NaN,NaN,177.971146,122.175056,NaN,100.000000,1.0,1.0,1.0,1.0,1.0,73
74,45.740000,13.750000,Y,"Nardini et al., 2020",NaN,NaN,224.748215,101.603722,30.0,100.000000,1.0,1.0,1.0,1.0,1.0,74
75,46.000000,4.500000,N,"Curt, 2001",NaN,NaN,99.661842,96.767303,112.0,100.000000,1.0,1.0,1.0,1.0,1.0,75
76,48.666111,14.707778,N,"Samonil, 2020",NaN,NaN,-11.301448,110.730072,75.0,100.000000,1.0,1.0,1.0,NaN,NaN,76
77,48.978611,13.811944,N,"Samonil, 2020",NaN,NaN,-30.491331,115.840057,64.0,100.000000,1.0,1.0,1.0,NaN,NaN,77
78,49.359722,18.383333,N,"Samonil, 2020",NaN,NaN,-15.303252,111.817139,72.0,100.000000,1.0,1.0,1.0,NaN,NaN,78
79,55.500000,-132.700000,N,"Swanston, 1970",NaN,NaN,-42.743862,133.898834,NaN,100.000000,1.0,1.0,1.0,NaN,NaN,79

In [ ]:
file_path1 = f'{post_data_path}DTB/DTB_Shangguan/BDTICM_M_1km_ll.tif'
file_path2 = f'{post_data_path}US/products_used/gNATSGO/densic_bedrock_depth_90m.tiff'
file_path3 = f'{post_data_path}US/products_used/gNATSGO/lithic_bedrock_depth_90m.tiff'
file_path4 = f'{post_data_path}US/products_used/gNATSGO/paralithic_bedrock_depth_90m.tiff'


# file_path5 = f'{post_data_path}mask1/mask1_v1/DTB_temp3.nc'
file_path6 = f'{post_data_path}/DTB/DTB_Pelletier/DTB_temp1.nc'
csv_file1 = f'{post_data_path}field/field_all.csv'
csv_file2 = f'{data_path}csv/DTB_US.csv'

s1 = rxr.open_rasterio(file_path1)
s2 = rxr.open_rasterio(file_path2)
s3 = rxr.open_rasterio(file_path3)
s4 = rxr.open_rasterio(file_path4)
s5 = xr.open_dataset(file_path5)
s6 = xr.open_dataset(file_path6)
csv1 = pd.read_csv(csv_file1, encoding='latin-1')

lat2 = csv1['Latitude']
lon2 = csv1['Longitude']
sd = csv1['SoilDepth_Numberline_cm']
ssa = csv1['Same Site As']

# Set the DTB.csv
csv2 = {
    'number':[],
    'lat':[],
    'lon':[],
    'Field':[],
    'gNATSGO':[],
    'SoilGrids250m':[],
    'SoilGrids250m_rev':[],
    'Pelletier':[]
}
csv2 = pd.DataFrame(csv2)

a1 = csv2['gNATSGO']
a2 = csv2['SoilGrids250m']
a3 = csv2['SoilGrids250m_rev']
a4 = csv2['Pelletier']

# Renew the csv data in field
j = 0
for i in range(len(sd)):
    if i!=(len(sd)-1):
        if sd[i] > 0 and not isinstance(ssa[i], str) and lat2[i] != lat2[i + 1] and lon2[i] <= -66.9 and lon2[i] >= -125 and lat2[i] >= 24.4 and lat2[i] <= 49.4:
            csv2.at[j, 'Field'] = sd[i]
            csv2.at[j, 'lat'] = lat2[i]
            csv2.at[j, 'lon'] = lon2[i]
            csv2.at[j, 'number'] = int(j + 1)
            j += 1
            # print(j)
    else:
        if sd[i] > 0 and not isinstance(ssa[i], str) and lat2[i] != lat2[i - 1] and lon2[i] <= -66.9 and lon2[i] >= -125 and lat2[i] >= 24.4 and lat2[i] <= 49.4:
            csv2.at[j, 'Field'] = sd[i]
            csv2.at[j, 'lat'] = lat2[i]
            csv2.at[j, 'lon'] = lon2[i]
            csv2.at[j, 'number'] = int(j + 1)
            j += 1
            # print(j)

print(j)
    

# Index the corresponding location points in global data
lat = csv2['lat']
lon = csv2['lon']
for i in range(j):
    
    lat1_index = abs(s1.coords['y'] - lat[i]).argmin()
    lon1_index = abs(s1.coords['x'] - lon[i]).argmin()

    lat2_index = abs(s2.coords['y'] - lat[i]).argmin()
    lon2_index = abs(s2.coords['x'] - lon[i]).argmin()
    lat3_index = abs(s3.coords['y'] - lat[i]).argmin()
    lon3_index = abs(s3.coords['x'] - lon[i]).argmin()
    lat4_index = abs(s4.coords['y'] - lat[i]).argmin()
    lon4_index = abs(s4.coords['x'] - lon[i]).argmin()

    lat5_index = abs(s5.coords['lat'] - lat[i]).argmin()
    lon5_index = abs(s5.coords['lon'] - lon[i]).argmin()
    lat6_index = abs(s6.coords['lat'] - lat[i]).argmin()
    lon6_index = abs(s6.coords['lon'] - lon[i]).argmin()

    a1_value = s1[0, lat1_index, lon1_index].values

    a2_value = s2[0, lat2_index, lon2_index].values
    a3_value = s3[0, lat3_index, lon3_index].values
    a4_value = s4[0, lat4_index, lon4_index].values

    # a5_value = s5['Band1'][lat5_index, lon5_index].values
    a6_value = s6['Band1'][lat6_index, lon6_index].values

    a1[i] = a1_value
    print(abs(s2.coords['y'] - lat[i]).argmin())
    # if abs(s2.coords['y'] - lat[i]).argmin() > 5:
    #     a2[i] = 0
    # else:
    a2[i] = np.min([a2_value,a3_value,a4_value])


    # a3[i] = a5_value
    a4[i] = a6_value

csv2['SoilGrids250m'] = a1
csv2['gNATSGO'] = a2
# csv2['SoilGrids250m_rev'] = a3
csv2['Pelletier'] = a4

csv2.to_csv(csv_file2, index=False)

print("the new DTB.csv is:")
# print(csv2)
csv2

In [ ]:
file_path1 = f'{post_data_path}mask1/mask1_v1/BDTICM_M_1km_ll.tif'
file_path2 = f'{post_data_path}US/products_used/gNATSGO/densic_bedrock_depth_90m.tiff'
file_path3 = f'{post_data_path}US/products_used/gNATSGO/lithic_bedrock_depth_90m.tiff'
file_path4 = f'{post_data_path}US/products_used/gNATSGO/paralithic_bedrock_depth_90m.tiff'


file_path5 = f'{post_data_path}mask1/mask1_v1/DTB_temp3.nc'
file_path6 = f'{post_data_path}mask1/mask1_v3/DTB_temp1.nc'
csv_file1 = f'{post_data_path}field/field_all.csv'
csv_file2 = f'{data_path}csv/DTB_G.csv'

s1 = rxr.open_rasterio(file_path1)
s2 = rxr.open_rasterio(file_path2)
s3 = rxr.open_rasterio(file_path3)
s4 = rxr.open_rasterio(file_path4)
s5 = xr.open_dataset(file_path5)
s6 = xr.open_dataset(file_path6)
csv1 = pd.read_csv(csv_file1, encoding='latin-1')

lat2 = csv1['Latitude']
lon2 = csv1['Longitude']
sd = csv1['SoilDepth_Numberline_cm']
ssa = csv1['Same Site As']

# Set the DTB.csv
csv2 = {
    'number':[],
    'lat':[],
    'lon':[],
    'Field':[],
    'gNATSGO':[],
    'SoilGrids250m':[],
    'SoilGrids250m_rev':[],
    'Pelletier':[]
}
csv2 = pd.DataFrame(csv2)

a1 = csv2['gNATSGO']
a2 = csv2['SoilGrids250m']
a3 = csv2['SoilGrids250m_rev']
a4 = csv2['Pelletier']

# Renew the csv data in field
j = 0
for i in range(len(sd)):
    if i!=(len(sd)-1):
        if sd[i] > 0 and not isinstance(ssa[i], str) and lat2[i] != lat2[i + 1]:
            csv2.at[j, 'Field'] = sd[i]
            csv2.at[j, 'lat'] = lat2[i]
            csv2.at[j, 'lon'] = lon2[i]
            csv2.at[j, 'number'] = int(j + 1)
            j += 1
    else:
        if sd[i] > 0 and not isinstance(ssa[i], str) and lat2[i] != lat2[i - 1]:
            csv2.at[j, 'Field'] = sd[i]
            csv2.at[j, 'lat'] = lat2[i]
            csv2.at[j, 'lon'] = lon2[i]
            csv2.at[j, 'number'] = int(j + 1)
            j += 1

print(j)

# Index the corresponding location points in global data
lat = csv2['lat']
lon = csv2['lon']
for i in range(j):
    lat1_index = abs(s1.coords['y'] - lat[i]).argmin()
    lon1_index = abs(s1.coords['x'] - lon[i]).argmin()

    lat2_index = abs(s2.coords['y'] - lat[i]).argmin()
    lon2_index = abs(s2.coords['x'] - lon[i]).argmin()
    lat3_index = abs(s3.coords['y'] - lat[i]).argmin()
    lon3_index = abs(s3.coords['x'] - lon[i]).argmin()
    lat4_index = abs(s4.coords['y'] - lat[i]).argmin()
    lon4_index = abs(s4.coords['x'] - lon[i]).argmin()

    lat5_index = abs(s5.coords['lat'] - lat[i]).argmin()
    lon5_index = abs(s5.coords['lon'] - lon[i]).argmin()
    lat6_index = abs(s6.coords['lat'] - lat[i]).argmin()
    lon6_index = abs(s6.coords['lon'] - lon[i]).argmin()

    a1_value = s1[0, lat1_index, lon1_index].values

    a2_value = s2[0, lat2_index, lon2_index].values
    a3_value = s3[0, lat3_index, lon3_index].values
    a4_value = s4[0, lat4_index, lon4_index].values

    a5_value = s5['Band1'][lat5_index, lon5_index].values
    a6_value = s6['Band1'][lat6_index, lon6_index].values

    a1[i] = a1_value
    print(abs(s2.coords['y'] - lat[i]).argmin())
    if abs(s2.coords['y'] - lat[i]).argmin() > 5:
        a2[i] = 0
    else:
        a2[i] = np.min([a2_value,a3_value,a4_value])


    a3[i] = a5_value
    a4[i] = a6_value

csv2['SoilGrids250m'] = a1
csv2['gNATSGO'] = a2
csv2['SoilGrids250m_rev'] = a3
csv2['Pelletier'] = a4

csv2.to_csv(csv_file2, index=False)

print("the new DTB_G.csv is:")
# print(csv2)
csv2

In [ ]:
file_path1 = f'{data_path}Ssoil.nc4'
file_path2 = f'{data_path}Sbedrock_tmp2.nc4'
csv_file1 = f'{post_data_path}field/field_all.csv'
csv_file2 = f'{data_path}csv/Sbedrock.csv'

s1 = xr.open_dataset(file_path1)
s2 = xr.open_dataset(file_path2)
csv1 = pd.read_csv(csv_file1, encoding='latin-1')

lat2 = csv1['Latitude']
lon2 = csv1['Longitude']
min = csv1['Minimum']
max = csv1['Maximum']
ssa = csv1['Same Site As']
# nf =  csv1['Number_For_Plotting']

# Set the Sbedrock.csv
csv2 = {
    'number':[],
    'lat':[],
    'lon':[],
    'min':[],
    'max':[],
    'Ssoil':[],
    'Sbedrock':[]
}
csv2 = pd.DataFrame(csv2)

a1 = csv2['Ssoil']
a2 = csv2['Sbedrock']

# Renew the csv data in field
j = 0
for i in range(len(lat2)):
    if isinstance(min[i], str) and not isinstance(ssa[i], str):
        csv2.at[j, 'lat'] = lat2[i]
        csv2.at[j, 'lon'] = lon2[i]
        csv2.at[j, 'min'] = min[i]
        csv2.at[j, 'max'] = max[i]
        csv2.at[j, 'number'] = int(j + 1)
        j += 1
        print(j)

# Index the corresponding location points in global data
lat = csv2['lat']
lon = csv2['lon']
for i in range(j):
    lat1_index = abs(s1.coords['lat'] - lat[i]).argmin()
    lon1_index = abs(s1.coords['lon'] - lon[i]).argmin()
    lat2_index = abs(s2['lat'] - lat[i]).argmin()
    lon2_index = abs(s2['lon'] - lon[i]).argmin()

    a1_value = s1['Band1'][lat1_index, lon1_index].values
    a2_value = s2['Sbedrock'][lat2_index, lon2_index].values

    a1[i] = a1_value
    a2[i] = a2_value
    print('the Ssoil is',a1[i])
    print('the Sbedrock is',a2[i])

csv2['Ssoil'] = a1
csv2['Sbedrock'] = a2

csv2.to_csv(csv_file2, index=False)

print("the new Sbedrock.csv is:")
print(csv2)
csv2