In [1]:
import os
import numpy as np
import xarray as xr
import pandas as pd
import netCDF4 as nc
import geopandas as gpd
import rioxarray as rxr
from myfunc import timer
from myfunc import DirMan
from myfunc import load_and_flatten_data
import config

resolution     = config.resolution
region         = config.region
data_path      = config.data_path
post_data_path = config.post_data_path
shp_path       = config.shp_path
fig_path       = config.fig_path

dir_man = DirMan(data_path)
dir_man.enter()

os.makedirs(f'{data_path}/csv', exist_ok=True)

casename1 = 'bedrock_1'
path1 = f'{data_path}/cases/{casename1}/'
casename2 = 'bedrock_2'
path2 = f'{data_path}/cases/{casename2}/'
casename3 = 'bedrock_3'
path3 = f'{data_path}/cases/{casename3}/'

Entered /tera11/zhwei/students/Xionghui/data/run/500/

In [2]:
df = pd.DataFrame()

with nc.Dataset(f'Sbedrock.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    (f'mask123', 'Band1'),
    (f'Sbedrock', 'Sbedrock'),
    (f'Area', 'area'),

    (f'{path1}Sbedrock_mean', 'Sr'),
    (f'{path2}Sbedrock_mean', 'Sr'),
    (f'{path3}Sbedrock_mean', 'Sr'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  

    # print(f"File: {file}, Variable: {variable_name}, Index: {index}")
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]
df.drop(labels='mask123',axis=1,inplace=True)

print(df[f'{path1}Sbedrock_mean'].mean())
print(df[f'{path2}Sbedrock_mean'].mean())
print(df[f'{path3}Sbedrock_mean'].mean())
print(df['Sbedrock'].mean())

with open(f'csv/Global_cases_sb.csv','w') as f:
    df.to_csv(f)
df

124.44057
26.9599
64.735886
125.557434

,lat,lon,Sbedrock,Area,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_1/Sbedrock_mean,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_2/Sbedrock_mean,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_3/Sbedrock_mean
720603040,-55.247915,-67.331244,40.948978,122369.355140,125.608299,21.920830,63.699451
720603041,-55.247915,-67.327077,37.316536,122369.355140,125.885208,21.935978,63.849354
720603042,-55.247915,-67.322911,33.684097,122369.355140,126.162117,21.951126,63.999256
720603043,-55.247915,-67.318744,30.051655,122369.355140,126.439018,21.966274,64.149162
720603044,-55.247915,-67.314577,26.419214,122369.355140,126.715927,21.981422,64.299065
...,...,...,...,...,...,...,...
3579846847,82.639592,-31.468742,33.762409,27501.828156,323.541229,37.048393,173.493454
3579846848,82.639592,-31.464576,33.865299,27501.828156,323.544250,37.073277,173.518997
3579846849,82.639592,-31.460409,33.968189,27501.828156,323.547241,37.098156,173.544525
3579846850,82.639592,-31.456242,34.071079,27501.828156,323.550262,37.123039,173.570068
3579846851,82.639592,-31.452076,34.173969,27501.828156,323.553253,37.147923,173.595612

In [3]:
df = pd.DataFrame()

with nc.Dataset(f'Sbedrock.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    (f'mask123', 'Band1'),
    (f'Sbedrock', 'Sbedrock'),
    (f'Area', 'area'),

    (f'{path1}Ssoil_mean', 'Sr'),
    (f'{path2}Ssoil_mean', 'Sr'),
    (f'{path3}Ssoil_mean', 'Sr'),
    (f'Ssoil', 'Band1'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]
df.drop(labels='mask123',axis=1,inplace=True)
df.drop(labels='Sbedrock',axis=1,inplace=True)

print(df[f'{path1}Ssoil_mean'].mean())
print(df[f'{path2}Ssoil_mean'].mean())
print(df[f'{path3}Ssoil_mean'].mean())
print(df['Ssoil'].mean())

with open(f'csv/Global_cases_ss.csv','w') as f:
    df.to_csv(f)
df

192.2227
128.89513
146.11655
91.70262

,lat,lon,Area,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_1/Ssoil_mean,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_2/Ssoil_mean,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_3/Ssoil_mean,Ssoil
709889414,-55.764582,-67.439577,120773.879698,13.938974,2.761799,7.272129,0.000000
709889415,-55.764582,-67.435411,120773.879698,19.511423,3.865897,10.179341,0.000000
709889416,-55.764582,-67.431244,120773.879698,25.083874,4.969995,13.086555,120.396660
709889417,-55.764582,-67.427077,120773.879698,30.656322,6.074092,15.993768,120.416367
709975814,-55.760415,-67.439577,120786.785891,14.618910,2.896518,7.626859,0.000000
...,...,...,...,...,...,...,...
3586500782,82.960426,-26.739575,26309.225697,0.000000,0.000000,0.000000,0.000000
3586500783,82.960426,-26.735409,26309.225697,0.000000,0.000000,0.000000,0.000000
3586500784,82.960426,-26.731242,26309.225697,0.000000,0.000000,0.000000,0.000000
3586500785,82.960426,-26.727075,26309.225697,0.000000,0.000000,0.000000,0.000000
3586500786,82.960426,-26.722909,26309.225697,0.000000,0.000000,0.000000,0.000000

In [ ]:
df = pd.DataFrame()

with nc.Dataset(f'Sbedrock.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    (f'mask123', 'Band1'),
    (f'Sbedrock', 'Sbedrock'),
    (f'Area', 'area'),

    (f'{path1}Sr_mean', 'Sr'),
    (f'{path2}Sr_mean', 'Sr'),
    (f'{path3}Sr_mean', 'Sr'),
    (f'Sr', 'Sr'),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]
df.drop(labels='mask123',axis=1,inplace=True)
df.drop(labels='Sbedrock',axis=1,inplace=True)

print(df[f'{path1}Sr_mean'].mean())
print(df[f'{path2}Sr_mean'].mean())
print(df[f'{path3}Sr_mean'].mean())
print(df['Sr'].mean())

with open(f'csv/Global_cases_sr.csv','w') as f:
    df.to_csv(f)
df

320.70575
160.65176
214.92178
217.62683

,lat,lon,Area,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_1/Sr_mean,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_2/Sr_mean,/tera11/zhwei/students/Xionghui/data/run/500//cases/bedrock_3/Sr_mean,Sr
720603040,-55.247915,-67.331244,122369.355140,376.736206,91.501808,199.907684,168.449478
720603041,-55.247915,-67.327077,122369.355140,377.508118,91.365150,200.288010,164.875504
720603042,-55.247915,-67.322911,122369.355140,378.280060,91.228493,200.668335,161.301544
720603043,-55.247915,-67.318744,122369.355140,379.051971,91.091835,201.048660,157.727570
720603044,-55.247915,-67.314577,122369.355140,379.823883,90.955177,201.429001,154.153610
...,...,...,...,...,...,...,...
3579846847,82.639592,-31.468742,27501.828156,323.541229,37.048393,173.493454,33.762409
3579846848,82.639592,-31.464576,27501.828156,323.544250,37.073277,173.518997,33.865299
3579846849,82.639592,-31.460409,27501.828156,323.547241,37.098156,173.544525,33.968189
3579846850,82.639592,-31.456242,27501.828156,323.550262,37.123039,173.570068,34.071079
3579846851,82.639592,-31.452076,27501.828156,323.553253,37.147923,173.595612,34.173969

In [9]:
df = pd.DataFrame()

with nc.Dataset(f'Sbedrock.nc4') as dataset:
    lat = dataset['lat'][:].flatten()
    lon = dataset['lon'][:].flatten()
    df['lat'] = np.repeat(lat, len(lon))
    df['lon'] = np.tile(lon, len(lat))

file_variable_list = [
    (f'mask123', 'Band1'),
    (f'Sbedrock', 'Sbedrock'),
    (f'Area', 'area'),

    (f'{path1}rnof_mean', 'f_rnof'),
    (f'{path2}rnof_mean', 'f_rnof'),
    (f'{path3}rnof_mean', 'f_rnof'),

    (f'{path1}fevpa_mean', 'f_fevpa'),
    (f'{path2}fevpa_mean', 'f_fevpa'),
    (f'{path3}fevpa_mean', 'f_fevpa'),
    (f'Q_mean', 'tp', 0),
    (f'ET_mean', 'et', 0),
]

for entry in file_variable_list:
    file = entry[0]
    variable_name = entry[1]  
    index = entry[2:] if len(entry) > 2 else None  

    # print(f"File: {file}, Variable: {variable_name}, Index: {index}")
    if index:
        df[file] = load_and_flatten_data(file, variable_name, index[0])
    else:
        df[file] = load_and_flatten_data(file, variable_name)


df = df.dropna()
df = df[df['Sbedrock'] > 0]
df = df[df['mask123'] == 1]
df.drop(labels='mask123',axis=1,inplace=True)


print(df[f'{path1}rnof_mean'].mean())
print(df[f'{path2}rnof_mean'].mean())
print(df[f'{path3}rnof_mean'].mean())
print(df[f'{path1}fevpa_mean'].mean())
print(df[f'{path2}fevpa_mean'].mean())
print(df[f'{path3}fevpa_mean'].mean())
print(df['Q_mean'].mean())
print(df['ET_mean'].mean())

with open(f'csv/Global_cases_runoff_et.csv','w') as f:
    df.to_csv(f)
df

FileNotFoundError: [Errno 2] No such file or directory: b'/tera11/zhwei/students/Xionghui/data/run/0p1//cases/bedrock_1/rnof_mean.nc4'